@import 'import'

[data-iconbut]
    width: 5vh
    height: 5vh
    z-index: 20
    cursor: pointer
    border-radius: 100%
    background: $orange
    border: solid 1px $black

    img
        margin: 0
        height: 3vh
        width: 3vh
