@import 'import'

[data-card]
    height: max-content
    width: 40vh
    color: $black
    transition: .3s
    margin-top: 5vh
    background: $ice
    border-radius: 1vh
    box-shadow: 0 0 5px 1px $black

    img
        height: 30vh
        margin-top: 0vh
        border-radius: 1vh

    button
        margin: 1vh
        color: $white
        font-size: 18px
        border-radius: 2vh
        background: $orange

    p, h6, h5
        margin: 0vh

