@import 'import'

[data-card]
    margin: .5vh
    height: max-content
    width: 37vh
    color: $black
    transition: .3s
    margin-top: 5vh
    background: $ice
    border-radius: 1vh
    box-shadow: 0 0 5px 1px $black

    img
        height: 40vh
        margin-top: 0vh
        border-radius: 1vh

    p
        margin: 0

    button
        margin: 1vh
        color: $white
        font-size: 18px
        border-radius: 2vh
        background: $orange


