@import 'import'

[data-change]
    top: 0
    z-index: 20
    display: flex
    height: 100vh
    color: $orange
    position: fixed
    transition: .5s
    background: #000000f5

    button
        color: $white
        font-size: 18px
        border-radius: 2vh
        background: $orange

    img
        background: $white
        border-radius: 5vh

    .inForm
        height: 95vh


[data-change='close']
    display: none



