@import 'import'

[data-navbar]
    z-index: 100
    h2
        font-family: $rubi
    [data-row]
        position: fixed
        top: 0
        height: 7vh
        transition: 1s
    [data-row='openO']
        box-shadow: 0px 0px 8px $black
        background: $ice

[data-logo]
    margin-left: 1vh

[data-text]
    border-radius: 1vh
    color: $orange
    transition: 1s

[data-text='openO']
    color: $white
    background: $orange

[data-text='openT']
    color: $black

[data-text='offT']
    color: $white
    background: $black

[data-button]
    top: 1vh
    right: 1vh
    width: 5vh
    height: 5vh
    cursor: pointer
    transition: .5s
    position: fixed
    background: $black
    border-radius: 100%
    [data-line]
        position: absolute
        width: 3vh
        height: 1vh
        background: $white
        border-radius: 6vh
        transition: .5s
[data-button='openO']
    right: 32vh
    [data-line='openO']
        transform: rotate(45deg)
    [data-line='openT']
        transform: rotate(-45deg)


[data-nav]
    position: fixed
    top: 0
    right: -10vh
    width: 10vh
    background: $orange
    height: 100vh
    box-shadow: 0px 0px 8px #000
    transition: .5s
    h6
        margin: 0
        transition: .5s
        font-family: $silk
        color: $black
        position: absolute
        right: -20vh
        transition: .5s
    img
        transition: .5s
        width: 6vh
        padding: 1vh
        transition: .3s
    img:hover
        padding: .5vh

[data-nav='openO']
    right: 0vh
    width: 30vh
    box-shadow: 0px 0px 20px #000
    border-radius: 10vh 0 0 10vh
    h6
        right: 5vh
    img
        margin-right: 15vh

[data-link]
    img
        background: $ice
        border-radius: 3vh 0

[data-link]:hover h6
    background: $black
    color: $ice

[data-link]:hover img
    padding: .7vh
