@import 'import'

.newProduct
    margin-top: 8vh

    img
        height: 30vh
        margin-top: 5vh
        border-radius: 4vh

    .formProduct
        padding: 2vh
        color: $orange
        background: $ice
        border-radius: 2vh
        box-shadow: 0 0 15px 5px $black

        button
            color: $white
            font-size: 20px
            margin-top: 5vh
            border-radius: 2vh
            background: $orange
